body {
  background: black !important;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.titulo {
  width: 100%;
  height: 80px;
  background-color: black;
}

.cont-1 {
  width: 600px;
  height: 400px;
  background-color: aquamarine;
  margin: auto;
  margin-top: 20px;
}

.cont-2 {
  width: 600px;
  height: 50px;
  background-color: blue;
  margin: auto;
  margin-top: 20px;
}

#btnContador {
  border-radius: 15px;
  width: 150px;
  height: 70px;
}

.contenido1 {
  width: 400px;
  height: 400px;
  margin: auto;
  background: chartreuse;
  font-family: cursive;
  padding: 25px;
}
.formtext{
  text-align: -webkit-left;
}

.form-div{
  padding: 8px;
  border: 1px black solid;
  border-radius: 8px;
  margin: 10px;
  text-align: center;
}
.formchk{
  margin-left: 80px;
  text-align: initial;
}
.div-empezar{
  text-align: end;
}

/* conometro */
/* body{background:#ddd;font-family:Open Sans;} */

#timer {
  margin: 30px auto 0;
  width: 300px;
}
#timer .container {
  display: table;
  /* background:#777; */
  color: #eee;
  font-weight: bold;
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px 4px #999;
}
#timer .container div {
  display: table-cell;
  font-size: 60px;
  padding: 10px;
  width: 20px;
}
#timer .container .divider {
  width: 10px;
  color: #ddd;
}
/* #btn-comenzar{box-sizing:border-box;background:#eee;border:none;margin:0 auto;padding:20px;width:100%;font-size:30px;color:#777;} */
#btn-comenzar:hover {
  background: #fff;
}

/* Titulo */
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

h1 {
  font-size: 36px;
  line-height: initial;
  /*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
    0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  font-family: "Sacramento", cursive;
  text-align: center;
  animation: blink 3s infinite;
  -webkit-animation: blink 3s infinite;
}
/* 
body {
  padding: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #222;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent 7px,
    rgba(0, 0, 0, 0.8) 9px,
    rgba(0, 0, 0, 0.8) 13px,
    transparent 13px
  );
} */

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    /*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
      0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    /*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
      0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}
